body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  background: url('../constants/backslant.svg') 0 800px no-repeat,
    url('../constants/backslant-head.svg') no-repeat;
  background-color: #f5f6f7;
}
