<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="CA E-Flows is an interactive statewide geodatabase that supports scientifically defensible environmental water management decision-making in California. It allows a user to explore and visualize three key components - Hydrology, Geomorphology, and Ecology - across the State's complex hydroscape and evaluate performance of desired ecosystem functions under alternative water management scenarios." />
    <meta name="keywords" content="eflow, hydrology, morphology, ecology, uc davis, davis, environmental flows, eflows" />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <title>Eflows | Home</title>
</head>

<body>
  <div id="app"></div>
</body>

</html>
